body{
    box-sizing: border-box;
    z-index: -1;
    color: white;
  
    font-size: 16px;
    margin: 0;
}
body a, body i, body button{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
body i:hover{
    color: rgb(223, 151, 126);
}
.container{
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "top"
    "mid"
    "but";
}
header{
    grid-area: top;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;   
    background-color: rgb(241, 139, 44);
}

main{
    grid-area: mid;
    width: 100vw;
    display: grid;
    justify-content: center;
    justify-items: center;   
    background: linear-gradient(#f69d3c,#ebf8e1,#3f87a6);
    padding-top: 20px;
}
footer{
    grid-area: but;
    width: 100vw;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    text-align: center;
    padding-bottom: 10px;
}
.continent{
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 1.2em;
    
}
.continent i, .continent a{
    padding: 3px;
}
.navform input{
    padding: 15px;
    position: relative;
    outline: none;
    border-radius: 5px;
    margin-left: 5px;
}
.navform i{
    position: absolute;
    z-index: 2;
    left: 55%;
    padding-top: 15px ;
    
    color: rgba(100, 99, 99, 0.76);
}

.v-divider:first-of-type{
    border-left: 1px solid white;
    height: inherit;
}